### DATABASE ###

DATABASE_NAME=unihub
DATABASE_PASSWORD=
DATABASE_USER=root
DATABASE_PORT=5432
DATABASE_HOST=localhost

### OAUTH2 ###

GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=

GITHUB_OAUTH2_CLIENT_ID=
GITHUB_OAUTH2_CLIENT_SECRET=

### SESSION ###

SESSION_SECRET=
# 1 hour
SESSION_ACCESS_TOKEN_EXPIRATION_SEC=3600
# 7 days
SESSION_REFRESH_TOKEN_EXPIRATION_SEC=604800
# 1 day
SESSION_REFRESH_TOKEN_ROTATE_WINDOW_SEC=86400

### EMAIL ###
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_DOMAIN=

### APP ###
IS_DEVELOPMENT=true

